<head>

  <title>Paper Stack</title>

  </head>
  <body>
  <div class="container">
      <section id="content">
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <h1>Login Form</h1>
              <div>
                  <input placeholder="Enter your email" type="text"
                  [(ngModel)] = "email"
                  (input)="onEmailChange($event.target.value)"
                  (focusout)="focusOutEmail($event.target.value)"
                          name = "password" id="username" />
              </div>
              <div>
                  <input placeholder="Enter your password" type='password'
                  [(ngModel)] = "password"
                  (input)="onPassChange($event.target.value)"
                  (focusout)="focusOutPass($event.target.value)"
                          name = "password" id="password" />
              </div>
              <div>
                  <input (click)="onSubmit()" type="submit" value="Log in" />
                 
                  
              </div>
          </form><!-- form -->
          
      </section><!-- content -->
  </div><!-- container -->
  </body>
