<!--<p *ngIf= "!(milestone$ | async)"  >Loading...</p> -->

<mat-card>
    <h3> I want to shere with:</h3>
    <form #predictForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <mat-label>manager name</mat-label>
            <mat-select [(value)]="category" name="category"   [(ngModel)] = "category"> 
                <div *ngFor = "let users of users$ | async">
                  
              <mat-option *ngIf = "(users.name != from)"   value="{{users.userID}}">{{users.name}}</mat-option>
            </div>
            </mat-select>
          </mat-form-field>
        <div >
            <button mat-raised-button color="primary" [disabled]="!category">share</button> <br><br>
      
        </div>  
      </div>
    </form>

    </mat-card>



