h1, h2{
 text-align: center;
}
.imgg{
    
    top: 90px;
    border-radius: 8px;
    filter:  saturate(7);
    z-index: 5;
    width: 800px;
    height: auto;
    position: fixed;
    left: 380px;
}
#background{
    top: 63px;
    width: 100%;
    height: 100%;
    position: fixed;
}