
    <mat-card>
   <div class= "move">
      <h3>New project:</h3>
       <form  #addproject="ngForm"(ngSubmit)="onSubmit()">
          <div class="example-container">
              <mat-form-field>
              <input type="number" matInput 
              placeholder="Project ID"
              [(ngModel)] = "ProjectID"
              name = "ProjectID" 
              #mail = "ngModel"
              required>
              </mat-form-field>
         </div> 

         <div class="example-container">
          <mat-form-field>
          <input  type="number" matInput 
          placeholder="PorYYYYWW"
          [(ngModel)] = "PorYYYYWW"
          name = "PorYYYYWW" 
          #mail = "ngModel"
          required>
          </mat-form-field>
     </div>

     <select   name="Drop" [(ngModel)] = "Drop" required  >      
       <option  value="" disabled>  Select your Drop: *  </option>
       <option value="PROD">PROD</option>
       <option value="POLO">POLO</option>
       <option value="RTL1P0">RTL1P0</option>
       <option value="RTL0P8">RTL0P8</option>
       <option value="RTL1P1">RTL1P1</option>
       <option value="RTL0P5">RTL0P5</option>
     </select>

     <select  name="DropType"[(ngModel)] = "DropType" required >
      <option  value="" disabled style="color: gray;"  > Select your DropType: * </option>
       <option value="Hotfix">Hotfix</option>
       <option value="Standard">Standard</option>
       <option value="PCR">PCR</option>
       <option value="Early">Early</option>
       <option value="TechnologyChange">TechnologyChange</option>
       <option value="TC_Standard">TC_Standard</option>
       <option value="Side_Drop">Side_Drop</option>
       <option value="Emulation">Emulation</option>
       <option value="TC_Hotfix">TC_Hotfix</option>
       <option value="TC_PCR">TC_PCR</option>
       <option value="TC_Early">TC_Early</option>
       <option value="RTL1P1">RTL1P1</option>
    </select>

    <div class="example-container">
      <mat-form-field>
      <input  type="number" matInput 
      placeholder="kpi1"
      [(ngModel)] = "kpi1"
      name = "kpi1" 
      #mail = "ngModel"
      required>
      </mat-form-field>
 </div> 

 <div class="example-container">
  <mat-form-field>
  <input  type="number" matInput 
  placeholder="kpi2"
  [(ngModel)] = "kpi2"
  name = "kpi2" 
  #mail = "ngModel"
  required>
  </mat-form-field>
</div> 

<div class="example-container">
  <mat-form-field>
  <input  type="number" matInput 
  placeholder="kpi3"
  [(ngModel)] = "kpi3"
  name = "kpi3" 
  #mail = "ngModel"
  required>
  </mat-form-field>
</div> 

<div class="example-container">
  <mat-form-field>
  <input  type="number" matInput 
  placeholder="kpi4"
  [(ngModel)] = "kpi4"
  name = "kpi4" 
  #mail = "ngModel"
  required>
  </mat-form-field>
</div> 

<div class="example-container">
  <mat-form-field>
  <input  type="number" matInput 
  placeholder="kpi5"
  [(ngModel)] = "kpi5"
  name = "kpi5" 
  #mail = "ngModel"
  required>
  </mat-form-field>
</div> 

   
        <div>
          <div>
            <button mat-raised-button color= "primary" > Add </button> 
            <button mat-raised-button color= "primary" [routerLink]="'/projects'" >Cancel</button>
           </div>
        </div>
      </form>
    </div>
    </mat-card>
    
    
    <!-- 

<mat-card>
  <div class="move">
    <h1>New project</h1>
    
        <form #addproject="ngForm"(ngSubmit)="onSubmit()">
             <input [(ngModel)]="ProjectID"
                 placeholder="Project ID"
                                name="ProjectID"
                                required
                                #auth = "ngModel">
                                <mat-error *ngIf="!(auth.valid || auth.pristine)">
                                    ProjectID  is required
                                </mat-error>

         <input [(ngModel)]="PorYYYYWW"
         placeholder="PorYYYYWW"
                    name="PorYYYYWW"
                     required
                     #auth = "ngModel">
            <mat-error *ngIf="!(auth.valid || auth.pristine)">
                PorYYYYWW  is required
            </mat-error>

      
            <label> DROP: </label> 
            <select class="form-control" 
            [(ngModel)]="Drop"
             placeholder="Drop"
                       name="Drop"
                        required>
              <option value="PROD">PROD</option>
              <option value="POLO">POLO</option>
              <option value="RTL1P0">RTL1P0</option>
              <option value="RTL0P8">RTL0P8</option>
              <option value="RTL1P1">RTL1P1</option>
              <option value="RTL0P5">RTL0P5</option>
            </select>

            
            <label> DropType: </label>
            <select class="form-control" 
            [(ngModel)]="DropType"
             placeholder="DropType"
                       name="DropType"
                        required>
              <option value="Hotfix">Hotfix</option>
              <option value="Standard">Standard</option>
              <option value="PCR">PCR</option>
              <option value="Early">Early</option>
              <option value="TechnologyChange">TechnologyChange</option>
              <option value="TC_Standard">TC_Standard</option>
              <option value="Side_Drop">Side_Drop</option>
              <option value="Emulation">Emulation</option>
              <option value="TC_Hotfix">TC_Hotfix</option>
              <option value="TC_PCR">TC_PCR</option>
              <option value="TC_Early">TC_Early</option>
              <option value="RTL1P1">RTL1P1</option>
            </select>
           
          

                  <input [(ngModel)]="kpi1"
               placeholder="kpi1"
                          name="kpi1"
                           required
                           #auth = "ngModel">
                  <mat-error *ngIf="!(auth.valid || auth.pristine)">
                    kpi1  is required
                  </mat-error>
             
                  <input [(ngModel)]="kpi2"
                  placeholder="kpi2"
                             name="kpi2"
                              required
                              #auth = "ngModel">
                     <mat-error *ngIf="!(auth.valid || auth.pristine)">
                       kpi2  is required
                     </mat-error>
                  

                     <input [(ngModel)]="kpi3"
                     placeholder="kpi3"
                                name="kpi3"
                                 required
                                 #auth = "ngModel">
                        <mat-error *ngIf="!(auth.valid || auth.pristine)">
                          kpi3  is required
                        </mat-error>
                     
                        <input [(ngModel)]="kpi4"
                        placeholder="kpi4"
                                   name="kpi4"
                                    required
                                    #auth = "ngModel">
                           <mat-error *ngIf="!(auth.valid || auth.pristine)">
                             kpi4  is required
                           </mat-error>
                          
                           <input [(ngModel)]="kpi5"
                           placeholder="kpi5"
                                      name="kpi5"
                                       required
                                       #auth = "ngModel">
                              <mat-error *ngIf="!(auth.valid || auth.pristine)">
                                kpi5  is required
                              </mat-error>
                             

         <div>
         <button mat-raised-button color= "primary" > Add </button> 
         <button mat-raised-button color= "primary" [routerLink]="'/projects'" >Cancel</button>
        </div>
         </form>

        </div>
         </mat-card> 
        -->