<!--<p *ngIf= "!(milestone$ | async)"  >Loading...</p> -->

  <mat-card>
    <div *ngIf="milestone$ | async as milestone$$; else loading">
      <ng-container *ngIf="milestone$$.length; else noItems">

    <h3> I want to predict for milestones id:  </h3>
    <form #predictForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>

            <mat-label>milestone id</mat-label>
            <mat-select [(value)]="category" name="category"   [(ngModel)] = "category"> 

                <div  *ngFor = "let milestone of milestone$$">
         
              <mat-option value="{{milestone.id}}">{{milestone.id}}</mat-option>
            </div>
            </mat-select>
          </mat-form-field>
        <div >
           <!-- <button mat-raised-button color="primary" [disabled]="!category" [routerLink]="'/projectResultComponent/' + category">predict</button> --> 
            <button mat-raised-button color="primary" [disabled]="!category"   >predict</button>
           <br><br>
        </div>  
      </div>
    </form>

  </ng-container>
  <ng-template #noItems> <p>You have no current projects. you con to predict only if you have current projects. </p></ng-template>
 </div>
 <ng-template #loading>loading...</ng-template>

    </mat-card>



