<div class="container">
      <!-- <mat-expansion-panel *ngFor = "let book of books"> -->
        <p *ngIf= "!(Details$ | async)"  >Loading...</p>    <!-- מראה טעינה בזמן ש books$ -->
          <div *ngFor = "let Details of Details$ | async" >  <!-- רישום לאובסרבל -->
           <h1 class="tab" > Welcome  {{Details.name}} </h1>  
           <p> </p>
    </div>
  </div>
  <br>
  <div class = img> <img src="../../assets/images/logo.png"> </div> 
  
  
  
  
  
