<head>



  </head>
  <body>
  <div class="container">
      <section id="content">
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <h1>Sign-Up Form</h1>
              <div>
                <input placeholder="Enter your fullname" type="text"
                [(ngModel)] = "name"
                (input)="onNameChange($event.target.value)"  
                (focusout)="focusOutName($event.target.value)"
                #userName = "ngModel"  name = "password" id="username" />
            </div>
              <div>
                  <input placeholder="Enter your email" type="text"
                  [(ngModel)] = "email"
                  (input)="onEmailChange($event.target.value)"
                  (focusout)="focusOutEmail($event.target.value)"
                          name = "password" id="username" />
              </div>
              <div>
                  <input placeholder="Enter your password" type='password'
                  [(ngModel)] = "password"
                  (input)="onPassChange($event.target.value)"
                  (focusout)="focusOutPass($event.target.value)"
                          name = "password" id="password" />
              </div>
              <div>
                  <input type="submit" value="Sign Up" />
                  
              </div>
          </form><!-- form -->
          
      </section><!-- content -->
  </div><!-- container -->
  </body>
