<!-- <mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>{{category}}</mat-card-title>
    <mat-card-subtitle>classification result</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{classifyService.doc}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <br><br>
    If you dont agree select the best option:
    <br>
    <mat-form-field>
      <mat-label>{{category}}</mat-label>
      <mat-select [(value)]="category">
        <mat-option value="{{classifyService.categories[0]}}">{{classifyService.categories[0]}}</mat-option>
        <mat-option value="{{classifyService.categories[1]}}">{{classifyService.categories[1]}}</mat-option>
        <mat-option value="{{classifyService.categories[2]}}">{{classifyService.categories[2]}}</mat-option>
        <mat-option value="{{classifyService.categories[3]}}">{{classifyService.categories[3]}}</mat-option>
        <mat-option value="{{classifyService.categories[4]}}">{{classifyService.categories[4]}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <p>You selected: {{category}}</p>
    <br>
    <button mat-raised-button color="primary" [disabled]="!classifyService.doc" (click)="saveClassification()">Save</button>
  </mat-card-actions>
</mat-card>
 -->
