.tab{ 
    margin-right: 3%;
   }
   
p{
    text-align: center;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
   
}
button{
    width: 15%;
    margin-left: 42%;
    margin-top: 1%;
}

.radioG{
    margin-left: 45%;
    margin-top: 3%;
}
.radio{
    margin-top: 1%;
}